name: Run tests

on: [ push, pull_request ]

jobs:
  test:
    strategy:
      matrix:
        go-version: [ "1.17", "1.18", "1.19" ]
        platform: [ "ubuntu-latest" ]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: make test GOFLAGS="-v" GO_VERSION=${{ matrix.go-version }}
