name: Run tests

on: [ push, pull_request, workflow_dispatch ]

jobs:
  test:
    strategy:
      matrix:
        go-version: [ "1.22", "1.23" ]
        platform: [ "ubuntu-latest" ]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Test
      run: make test GOFLAGS="-v" GO_VERSION=${{ matrix.go-version }}
